@import url("https://fonts.cdnfonts.com/css/futura-lt");
:root {
  --accent: #c91f37;
  --text-col: black;
  --bk-col: white;
  --blur: 2px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bk-col);
  color: var(--text-col);
  /*! text-shadow: rgb(000, 000, 000) 0 0 1px; */
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  line-height: 2em;
  font-size: 16px;
scroll-behavior: smooth;
  scroll-snap-stop: always;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: none; 
  overscroll-behavior: none;
  /* System Fonts as used by Medium and WordPress */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, "Helvetica Neue", sans-serif;
  
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  


}

.header {
  text-align: center;
    scroll-snap-align: center;
  scroll-snap-stop: always;
}

.left {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.splash {
  scroll-snap-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--accent);
  background-image: url("../icon.svg");
  background-repeat: no-repeat;

  background-position: center;
background-size: contain;
  display: flex;
  flex-direction: column;

  justify-content: center;

  /*! flex-wrap: wrap; */
  text-align: center;
transition: all 0.4ms linear;
  /*! margin: auto 5%; */
}

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(000, 000, 000, 0.205)
    ),
    url(../peaks.jpg);
  background-position: center;
  background-attachment: fixed;
  /*background-color: var(--accent); */
}

.col {
  color: white;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;

  /*! flex-wrap: wrap; */
  text-align: center;
  
  /*! margin: auto 5%; */
}

h1,
h2,
h3,
h4 {
  font-family: "Futura LT", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 2.5em;
  line-height: 0.5em;
  /*! font-family: "jost"; */
  text-transform: lowercase;
  margin: auto 0px 20px 0px;
}
h4 {
  text-shadow: rgb(000, 000, 000) 0 0 5px;
  font-size: 2em;
  line-height: 0.5em;
}
h1 {
  text-shadow: rgb(000, 000, 000) 0 0 5px;
  font-size: 4em;
  line-height: 1em;
}

.row {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
  text-align: center;
  flex-grow: 1;
  min-height: 100vh;
  gap: 12px;
}
.row:last-child {
  /* min-height: 50vh; */
}
.row > section {
  width: 50ch;
}

section ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  line-height: 3em;
  margin-bottom: 1em;
}

section li {
  margin-bottom: 0.4em;
}

section {
  padding: 0px;
  margin: 0px;
  text-align: left;
  margin: 5px;
}

a {
  box-shadow: inset 0 -8px 0 rgba(201, 31, 55, 0.23);
  text-decoration: none;
  color: var(--text-col);
}
a :visited {
    color: var(--text-col);
}

a:active {
  color: var(--text-col);
}
#work {
  font-family: "Futura LT", sans-serif;
  font-size: 1.1em;
  text-align: right;
}
a:hover {
  box-shadow: inset 0 -8px 0 rgba(201, 31, 55, 0.75);
}

.blur {
  -webkit-filter: blur(var(--blur));
  -moz-filter: blur(var(--blur));
  -o-filter: blur(var(--blur));
  -ms-filter: blur(var(--blur));
  filter: blur(var(--blur));
  
  
}

.desaturate {
  filter: grayscale(100%);
}



#bottom {
  justify-content: center;
 align-items: baseline;
  align-content: center;
  /*! text-align: justify; */
}

@media only screen and (max-width: 1012px) {
.row > section {
  width: 30ch;
}
}
@media only screen and (max-width: 800px) {
  .row > section {
    width: 100%;
  }
  section {
    text-align: center;
      scroll-snap-align: center;
  scroll-snap-stop: center;
    margin-bottom: 50vh;
    margin-top: 50vh;
  }
  .header {
    margin: auto;
  }
  #work {
    text-align: center;
  }
  #hero {
    background-position: right;
  }
  #imgframe {
    visibility: hidden;
    display:none;
    scroll-snap-align: unset;
  }


}
