h1, h2, h3, h4, h5, h6 {
  font-family: 'IM Fell French Canon';
  font-weight: 400;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn.btn-primary.btn-lg.btn-default {
}

p {
  font-size: x-large;
}

.works a:visited {
  text-decoration: none;
}

.works a {
  color: rgb(255,255,255);
  text-decoration: none;
}

.shop a {
  color: rgb(0,0,0);
  text-decoration: none;
}

.btn.btn-primary.btn-lg.btn-default {
  color: rgb(255,255,255);
  border: solid #ffffff;
  font-family: 'IM Fell English';
  /*font: #ffffff;*/
}

.btn.btn-primary.btn-lg.btn-default:hover {
  background-color: #373737;
}

.btn-default {
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #EBF6F7;
}

.col-lg-8.mx-auto {
}

.contact p {
  font-family: 'IM Fell English';
}

.masthead .intro-body .intro-text {
}

