.hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
}
.fadeinfast {
  display: block;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
  }

.fadein {
  display: block;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



  .fadeout {
    
      animation: fadeout linear 2s;
      -webkit-animation: fadeout linear 2s;
      -moz-animation: fadeout linear 2s;
      -o-animation: fadeout linear 2s;
      -ms-animation: fadeout linear 2s;
    }
    
    @keyframes fadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    
    @-moz-keyframes fadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    
    @-webkit-keyframes fadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    
    @-o-keyframes fadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    
    @-ms-keyframes fadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

  .rotate {

    transform: rotate(180deg);
  
  
    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(180deg);
  
    /* Firefox */
    -moz-transform: rotate(180deg);
  
    /* IE */
    -ms-transform: rotate(180deg);
  
    /* Opera */
    -o-transform: rotate(180deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  }

.swipe_up {
  bottom:0;
     animation: swipeup 0.4s ease-in;
  }
.swipe_down {
  bottom:0;
     animation: swipedown 0.4s ease-in;
  }
  
  @keyframes swipeup {
    from {top:100%;}
    to {top:50%;}
  }

  @keyframes swipedown {
    from {top:-10px;}
    to {top:50%;}
  }
