:root {
    --accent: #ff401e;
  --left: 10px;
  }

html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  width:100%;
  text-shadow: rgba(000, 000, 000, 300) 0 0 3px;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.background {
  position: absolute;
  
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../bk.jpg);
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}

.wrapper {
  position: relative;
  z-index: 2;

}

.row {
  display: flex;
  flex-direction: row;
   align-items:center;
  flex-wrap: wrap;
  width: 100%;
}


.col {
  margin-left:auto;
  display: flex;
  flex-direction: column;
  
  flex: 1;
}
